.subhead jobs
.paragraph
  .section FULL TIME
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2019] Sep -
    .col-12.col-sm-8.col-md-9.col-lg-10 Freelance designer / engineer
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2018] Apr - #[strong 2019] Aug
    .col-12.col-sm-8.col-md-9.col-lg-10 Designer at Fujitsu Design
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2017] May - #[strong 2018] Mar
    .col-12.col-sm-8.col-md-9.col-lg-10 Project Researcher at Chiba University
  .section PART TIME
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2015] Nov - #[strong 2016] Apr
    .col-12.col-sm-8.col-md-9.col-lg-10 Researcher at Takram as intern
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2015] Jun
    .col-12.col-sm-8.col-md-9.col-lg-10 Interpreter for Righters Publishing (1 day)
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2015] Dec - #[strong 2016] Mar
    .col-12.col-sm-8.col-md-9.col-lg-10 Interpreter / negotiator for a Dutch journalist Enith Vlooswijk, contract with Stichting de Volkskrant (3 weeks)
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2014] Oct - #[strong 2014] Dec
    .col-12.col-sm-8.col-md-9.col-lg-10 Interpreter / negotiator for Fujitsu Design
.subhead education
.paragraph
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2013] Apr - #[strong 2017] Mar 
    .col-12.col-sm-8.col-md-9.col-lg-10 Ph.D. in Engineering at Division of Design Science, Chiba University (Acquired degree on 2018 Mar)
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2014] Sep - #[strong 2015] Jun 
    .col-12.col-sm-8.col-md-9.col-lg-10 Visiting researcher. Product Design Course, Glasgow School of Art
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2011] Apr - #[strong 2013] Mar
    .col-12.col-sm-8.col-md-9.col-lg-10 M.S. in Engineering. Division of Design Science, Chiba University
  .row.datapoint.g-0
    .col-12.col-sm-4.col-md-3.col-lg-2.pr-4.mono.
      #[strong 2007] Apr - #[strong 2011] Mar
    .col-12.col-sm-8.col-md-9.col-lg-10 B.S. in Engineering. Department of System Design Engineering, Keio University
